

@model Data.Products

@{
    ViewBag.Title = "Eliminar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron text-center">
    <h2>Eliminar</h2>

    <h3>Esta Seguro que desea eliminar este Producto?</h3>

    <p>
        <input type="submit" class="btn btn-success" value="Eliminar" />
        <a href="/Crud/Index/"><span id="btnBack" class="btn btn-danger">Volver</span></a>

    </p>
</div>