@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron text-center">
    <div class="container">
        <h1>Bienvenido</h1>
        <p>Bienvenido a cShop comercio electronico</p>
        <p><a class="btn btn-primary btn-lg" href="/Shopping/ShowProducts" role="button">Ir de compras</a></p>
        <p><a class="btn btn-primary btn-lg" href="/Crud/Index" role="button">Administrar Productos</a></p>
    </div>
</div>